.download-line {
  width: 0%;
  height: 2px;
  transition: all 100ms ease;
}

.download:hover .download-line {
  width: 100%;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  margin-top: 10px;
}

.social-links a {
  color: whitesmoke;
  text-decoration: none;
}
