.hamburger-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 32px;
  cursor: pointer;
  z-index: 2;
}

.burger-1,
.burger-2,
.burger-3 {
  height: 0.2rem;
  width: 30px;
  background-color: white;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.burger-open.burger-1 {
  transform: rotate(45deg) translate(8px, 8px);
}
.burger-open.burger-2 {
  transform: translateX(32px) rotate(90deg);
  background-color: yellowgreen;
}
.burger-open.burger-3 {
  transform: rotate(-45deg) translate(8px, -8px);
}
