canvas {
  border: 1px solid #d3d3d3;
  background-color: #000;
  box-sizing: border-box;
}

.game-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.game-directions {
  color: white;
}

.game-title {
  display: flex;
  align-items: center;
}

.game-title h4 {
  margin-left: 1rem;
}
.game-title h2 {
  font-family: "Press Start 2P";
}

code {
  background: ghostwhite;
  border-radius: 5px;
  padding: 0 3px;
  color: darkolivegreen;
}
