.side-menu-full {
  position: absolute;
  z-index: 1;
  height: 0;
  width: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease-in-out;
}

.side-menu-full.side-menu-underlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
}

.side-container {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  right: 0;
  width: 0;
  max-width: 250px;
  height: 100vh;
  background-color: yellowgreen;
  transition: all 0.5s ease-in;
  overflow-x: hidden;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.side-container.side-open {
  width: 50vw;
  max-width: 250px;
}

.side-container :first-child {
  margin-top: 80px;
}

.side-menu-item {
  font-size: 3rem;
  font-family: "Oswald", "sans-serif";
  color: white;
  margin: 0.5rem 0;
  margin-right: 30px;
}
