.footer {
  grid-area: footer;
  height: max(10vh, 100px);
  color: var(--byte-grey);
  background-color: rgb(29, 29, 29);
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
