@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

body {
  overflow-x: hidden;
}
.goblin-text {
  font-family: "A Goblin Appears";
}

main {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  /* background: linear-gradient(180deg, #efc326 0%, #ff5c00 100%); */
  background-color: #282c34;
}

main > .login-hero {
  color: white;
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  height: 100%;
  /* background-image: url("./assets/images/backgrounds/barn-graduate-1.JPG"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right center;
}

.fixed {
  position: fixed;
  top: 0;
  right: 17px;
  left: 0;
  bottom: 0;
}

.container {
  width: 90vw;
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.clicker {
  position: relative;
  background-color: yellowgreen;
  border: none;
  padding: 0.5rem 20px;
  margin: 1rem 0px;
  border-radius: 20px;
  box-shadow: 0px 4px rgb(57, 77, 18);
  min-width: 120px;
  outline: none;
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  font-family: "Oswald", "sans-serif";
}
.clicker:hover {
  cursor: pointer;
  background-color: rgb(125, 165, 45);
}
.clicker:active {
  transform: translateY(3px);
  box-shadow: 0px 2px rgb(57, 77, 18);
}

/* Default Styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Oswald", "sans-serif";
  color: white;
  margin: 0.5rem 0;
}

p {
  font-family: "Arial";
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "A Goblin Appears";
  src: local("A Goblin Appears"), url("assets/fonts/A\ Goblin\ Appears.otf");
}
